<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :content, "コンテンツ" %><br />
    <%= f.text_area :content, autofocus: true, autocomplete: "content" %>
  </div>

    <div class="field">
      <%= f.label :video, "ビデオ(ドラッグ&ドロップで添付可能)" %>
      <div class="bg-danger">
        <p>投稿動画のサイズは5メガバイトまでです。</p>
      </div>
      <section class="section">
        <%= f.file_field :video, :accept => 'video/*'%>
      </section>
    </div>
  

  <div class="actions">
    <%= f.submit "投稿" %>
  </div>
<% end %>
