<p id="notice"><%= notice %></p>

<p><%= @post.content %></p>

<p
  <% if @post.video.present? %>
    <%= link_to @post.video_url.to_s do %>
     <%= video_tag(@post.video.to_s, autoplay: true, muted: true, controls: true) %>
    <% end %>
  <% end %>
</p>

<p><%= @post.user.username %></p>

<% if current_user.id == @post.user_id %>
  <%= link_to '編集', edit_post_path(@post) %>
<% end %>
<br>
<%= link_to 'みんなの投稿', posts_path %>
