<p id="notice"><%= notice %></p>

<p><%= @post.content %></p>

<p
  <% if @post.video.present? %>
    <%= link_to @post.video_url.to_s do %>
     <%= video_tag(@post.video.to_s, autoplay: true, muted: true, controls: true) %>
    <% end %>
  <% end %>
</p>

<p><%= @post.user.username %></p>

<section class="section">
  <tr class="container">
    <%= form_for [@post, @comment] do |f| %>
      <%= f.text_field :content %>
      <%= f.submit "コメント" %>
    <% end %>

  <table class="table">
    <thead>
      <tr>
        <th class="text-center">Content</th>
        <th class="text-center">Name</th>
      </tr>
    </thead>
    <tbody>
      <% @comments.each do |comment| %>
        <tr>
          <td><%= comment.content %></td>
          <td><%= comment.user.username %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>

<% if current_user.id == @post.user_id %>
  <%= link_to '編集', edit_post_path(@post) %>
<% end %>
<br>
<%= link_to 'みんなの投稿', posts_path %>
